@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
}

body {
  height: 100vh;
  background-color: var(--dark-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.App {
  font-family: "Manrope", sans-serif;
  background-color: var(--grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2.5rem 0;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.3);
  width: min(30rem, calc(100vw - 7rem));
}

h2 {
  --size: 0.85rem;
  font-size: var(--size);
  color: var(--neon-green);
  text-transform: uppercase;
  letter-spacing: calc(var(--size) / 4);
  user-select: none;
}

p {
  font-size: 1.7rem;
  color: var(--light-cyan);
  line-height: 2.3rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.separator {
  background: url("./images/pattern-divider-desktop.svg") no-repeat center;
  height: 1rem;
  width: 100%;
}

button {
  --size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--neon-green);
  border: unset;
  height: var(--size);
  width: var(--size);
  border-radius: calc(var(--size) / 2);
  position: relative;
  bottom: -2rem;
  cursor: pointer;
  transition: all 200ms ease;
}

.button-hover {
  box-shadow: 0 0 2rem var(--neon-green);
}
